<h1>Edit My Event</h1>

<p style="color:red;">All fields are required.</p>

<%= form_for @event do |f| %>

  <div class="form-group">

    <label>Title<span style="color:red;">*</span></label>

    <%= f.text_field :title, class: 'form-control' %>

  </div>

  <div class="form-group">

    <label>Date<span style="color:red;">*</span></label>

    <%= f.date_field :date, class: 'form-control' %>

  </div>

  <div class="form-group">

    <label>Location<span style="color:red;">*</span></label>

    <%= f.text_field :location, class: 'form-control' %>

  </div>

  <div class="form-group">

    <button type="submit">Modify Event</button>

  </div>

<% end %>
