<h1>All Events</h1>

<% @events.each do |event| %>

  <p><%= event.title %></p>
  <p><a href="<%= event_path(event.id) %>" class="btn btn-primary">Show Event</a></p>

<% end %>

<p><a href="<%= new_event_path %>" class="btn btn-default">Add New Event</a></p>
